.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
}

.search-bar{
    width: 600px;
    height: 70px;
    background-color: #D9D9D9;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input{
    width: 80%;
    height: 80%;
    background-color: #D9D9D9;
    border: none;
    font-size: 18px;
}

input:focus{
    outline: none;
}

#search-icon{
    margin-right: 10px;
}

#recommend-button{
    margin-top: 20px;
    background-color: #23CC50;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: large;
    color: white;
}


/* Autocomplete styling */
.autocomplete-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    width: 600px;
    text-align: left;
    height: auto;
    margin-top: -10px;
    border-radius: 0px 0px 5px 5px;
}